.login {
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;

    img {
        max-height: 200px;
    }

    a {
        padding: 20px;
        background-color: #1db954;
        border-radius: 100px;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        color: white;

        &:hover {
            filter: brightness(1.08);
        }
    }
}